deb http://packages.dotdeb.org {{ ansible_distribution_release }} all
deb-src http://packages.dotdeb.org {{ ansible_distribution_release }} all

{% if php_version == "5" %}
deb http://packages.dotdeb.org {{ ansible_distribution_release }}-php56 all
deb-src http://packages.dotdeb.org {{ ansible_distribution_release }}-php56 all
{% endif %}